<!DOCTYPE html>
<html>
<head></head>
<body>
  <h1>new user, <%= @user.name %></h1>
  <p>Name = <%= @user.name %></p>
  <p>Email = <%= @user.email %></p>
  <p>zip code = <%= @user.zip_code %>
</body>
</html>
