<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html>
<html>
<head><meta content="text/html; charset=UTF-8" http-equiv="content-type"></head>
<body>
    <div class="contain">
      <div class="content" style="width: 50%; padding-bottom: 25px; margin: 0 auto;">
        <h1 style=": impact, charcoal, sans-serif; text-align: center;">
          <%= @user.name %>
        </h1>
        <p style="text-align: center; font-family: 'Trebuchet MS', Helvetica, sans-serif;" align="center">
          Thank you for signing up for updates on the progress of Sullivan Dates.
          Over the next few weeks I will be releasing more details about what is
          coming with this website.
        </p>
        <p style="text-align: center; font-family: 'Trebuchet MS', Helvetica, sans-serif;" align="center">
          Until then if you haven't already please join
          the Sullivan Dates: <a href="<%= @url %>">Facebook Group</a>
        </p>
      </div>
      <div class="footer" style="text-align: center; border-top-width: 1px; border-top-style: solid; border-top-color: black; padding-top: 25px;" align="center">
        © 2015 Sullivan Dates, All Rights Reserved.
      </div>
    </div>
  </body>
</html>
