<% provide(:title, "Sullivan Dates") %>

<div id="contain">
  <h4 class="text-center">Coming Soon</h4>
  <br/>
  <h1 class="text-center">Sullivan Dates</h1>
  <p class="text-center">
    For further information please join our facebook group <a href="https://www.facebook.com/groups/812762058783473/".><br/>Sullivan Dates</a>
  </p>
</div>
