<% provide(:title, "Sullivan Dates") %>

<div id="contain">
  <h4 class="text-center">Coming Soon</h4>
  <br/>
  <h1 class="text-center">Sullivan Dates</h1>
  <p class="text-center">
    For updates please sign up for our mailer.
  </p>
  <div class="text-center" id="sign-up-button">
    <%= link_to "Sign up", signup_path, class: "button radius secondary" %>
  </div>
  <p class="text-center">
    Also if you are not already a member, please join our <a href="#">Facebook Group</a>.
  </p>
</div>
